.title{
    margin-left: 2.5%;
}
.shadow{
    background: var(--gray-gray-20, #CCC);
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
    flex-shrink: 0;
    margin-bottom: 28px;
}

.cardTitle{
    margin-bottom: 23px;
    display: flex;
    margin-left: 2.5%;
}

.cardTitle h3{
    margin: 0;
    margin-left: 17px;
    color: var(--pure-pure-100, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Table{
    width: 790px;
    margin-left: 2.5%;
    box-shadow: 0px 1px 6px 0px rgba(51, 51, 51, 0.16);
}

.infoCard{
    width: 383px;
    padding-bottom: 23px;
    padding-left: 16px;
    padding-top: 16px;
    flex-shrink: 0;
    margin-left: 2.5%;
    margin-bottom: 32px;
    box-shadow: 0px 1px 6px 0px rgba(51, 51, 51, 0.16);
}

.cardTitle{
    margin-bottom: 23px;
    display: flex;
}

.cardTitle h3{
    margin: 0;
    margin-left: 17px;
    color: var(--pure-pure-100, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.center{
    display: flex;
    gap: 27px;
}

.line{
    width: 90%;
    border-bottom: 1px solid #888;
}

.top{
    padding-left: 8px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px ;
    text-decoration: none;
}

.bot{
    padding-left: 8px;
    display: flex;
    gap: 5px;
    margin-top: 10px;
    text-decoration: none;
}

.divSpan{
    height: 25px;
    display: flex;
    align-items: center;
}

.divSpan span{
    color: #1351B4;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.labs{
    padding-left: 15px;
}

.labsA{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.labsDivImage{
    padding-bottom: 6px;
    height: 100%;
    margin-right: 5px;
}