.title{
    margin-left: 2.5%;
}
.shadow{
    background: var(--gray-gray-20, #CCC);
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
    flex-shrink: 0;
    margin-bottom: 28px;
}

.cardTitle{
    margin-bottom: 23px;
    display: flex;
    
}

.cardTitle h3{
    margin: 0;
    margin-left: 17px;
    color: var(--pure-pure-100, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Table{
    width: 790px;
    height: 831px;
    margin-left: 2.5%;
}