.history{
    box-sizing: border-box;
    width: 341px;
    height: 51px;
    cursor: pointer;
}

.history:hover{
    background-color: #DFE1E2;
}

.a{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.mini{
    flex-shrink: 0;
    color: var(--gray-gray-80, #333);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.big{
    color: var(--pure-pure-100, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}