.title{
    color: #000;
    margin-left: 2.5%;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rawline;
    font-size: 41.8px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.shadow{
    background: var(--gray-gray-20, #CCC);
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
    flex-shrink: 0;
    margin-bottom: 28px;
}

.mainCards{
    margin-right: 27px;
}

.center{
    margin-left: 1.5%;
    display: flex;
}